.itemContainer {
  padding: 20px 12px;
  text-align: center;
  border: 1px solid #0000f2;
  border-radius: 12px;
  background-color: #f7f7f7;
}

.foodImage {
  width: 100%;
  height: 288px;
  object-fit: cover;
}
